/* Style du conteneur des boutons de filtre */
.filtres-element {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f7f7f7;
}

/* Style des boutons de filtre */
.filtre-btn {
    padding: 10px 15px;
    margin: 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #eee;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
    font-weight: bold;
}

/* Style du bouton actif/sélectionné */
.filtre-btn.active {
    background-color: #e74c3c; /* Couleur du titre encadré */
    color: white;
    border-color: #c0392b;
}

.filtre-btn:hover:not(.active) {
    background-color: #ddd;
}